// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
// .upcoming {
//   background-color: rgb(212, 209, 209);
// }

// .past {
//   background-color: rgb(175, 174, 174);
// }

ul {
margin-top: 25px;
padding: 0;
padding-top: 10px;
padding-bottom: 10px;
border-bottom: 1px solid gray;
  li {
    display: flex;
    justify-content: space-between;
  }

  a {
    text-decoration: none;
    color: black;
  }

  a:hover {
    color:rgb(255, 38, 0);
  }
}